/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Headings & P*/

  h1{
    font-size: 71px;
    font-family: sans-serif;
    font-weight: bold;
	line-height: 106px;
    margin-bottom: 18px;
}

h2{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 18px;
}

h3{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 18px;
}

h4{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 18px;
}


p{
    margin-bottom: 1em;
}

img{
    max-width: 100%;
    height: auto;
}



  body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}


  .container{
    padding: 14px;
    }


  .logo{
    background: #c78b07;
    padding-top: 20px;
    padding-bottom: 20px;
}


.container .home-butt{
    color: #000000;
}

ul{
    margin-top: -45px;
}

/*header / search*/
.search-one{
    width: 92%;
    height: 42px;
    border-radius: 1px;
    font-size: 18px;
}
/*nav*/
nav{
    background-color: #222222;
}

nav button{
    background-color: #222222;
    margin-left: 94%;
    padding:2%;
    color: #c78b07;

}


nav a:link,
nav a:visited{
    font-size: 18px;
    color: #c78b07;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 17px;
    padding-bottom: 17px;
}

nav .current a:link,
nav .current a:visited {
    color: black;
    background-color: #c78b07;
}


.header-welcome{
    background-image: url(../images/images/main-banner.jpg);
    background-size: cover;
    padding-top: 68px;
    padding-bottom: 68px;
    margin-left: -14px;
    margin-right: -14px;
}

.header-welcome .container{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}

.header-welcome button{
    background-color: #c78b07;
    border: none;
    width: 260px;
    height: 95px;
    font-size: 21px;
}


/*About-about*/

.section-about{
    display: block;
    background-color: #ffe6ac;
    margin-left: -14px;
    margin-right: -14px;
}


/*services*/

.section-services h2{
    margin-top: 14px;
    margin-bottom: 5px;
}

.section-services h3{
    margin-top: 28px;
    margin-left: 14px;
}

.section-services p{
    margin-left: 14px;
}

.section-services img{
display: block;
width: 100%;
}

/*digital-transformation*/
.section-services .digital-transformation{
    background-color: #ffe6ac;
    margin-bottom: 14px;
}

.digital-transformation button{
    width: 224px;
    height: 95px;
    font-size: 21px;
    background-color: #222222;
    color: #ffffff;
    border: none;
    margin-left: 14px;
    margin-bottom: 14px;

}


/*Marketing*/
.section-services .marketing{
    background-color: #ffe6ac;
    margin-bottom: 14px;
}

.marketing button{
    width: 224px;
    height: 95px;
    font-size: 21px;
    background-color: #222222;
    color: #ffffff;
    border: none;
    margin-left: 14px;
    margin-bottom: 14px;
}


/*Video production*/

.section-services .video-production{
    background-color: #ffe6ac;
    margin-bottom: 14px;
}

.video-production button{
    width: 224px;
    height: 95px;
    font-size: 21px;
    background-color: #222222;
    color: #ffffff;
    border: none;
    margin-left: 14px;
    margin-bottom: 14px;
}

/*web development*/

.section-services .web-development{
    background-color: #ffe6ac;
    margin-bottom: 14px;
}

.web-development button{
    width: 224px;
    height: 95px;
    font-size: 21px;
    background-color: #222222;
    color: #ffffff;
    border: none;
    margin-left: 14px;
    margin-bottom: 14px;
}

/*print*/

.section-services .print{
    background-color: #ffe6ac;
    margin-bottom: 14px;
}

.print button{
    width: 224px;
    height: 95px;
    font-size: 21px;
    background-color: #222222;
    color: #ffffff;
    border: none;
    margin-left: 14px;
    margin-bottom: 14px;
}


/*our-vision*/

.section-vision{
    background-image: url(../images/images/vision.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 14px;
    margin-left: -14px;
}



.section-vision .container{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section-vision button{
    background-color: #0e2c48;
    width: 215px;
    height: 95px;
    font-size: 21px;
    color: #ffffff;
    border-color: #b68310;
    margin-bottom: -5px;
    margin-left: -14px;
}




/*our-team*/


.section-team h2{
    margin-top: 14px;
    margin-bottom: -5px;
}

.section-team img{
width: 100%;
}

/*JOHN*/

.section-team .john-info{
    padding: 14px;
    background-color: #ffe6ac;
    margin-top:-6px;
}

.section-team h4{
    border-bottom: 2px solid #c68a05;
}

/*BOB*/
.section-team img{
    margin-top: 14px;
}

.section-team .bob-info{
    padding: 14px;
    background-color: #ffe6ac;
    margin-top: -6px;
}


/*section-contact*/


.section-contact h3{
    margin-bottom: 5px;
}

.section-contact input{
    width: 100%;
    height: 30px;
    border-radius: 3px;
}

.section-contact .message{
    height: 150px;
    
}

.section-contact button{
    width: 60px;
    height: 30px;
    border: none;
    color: #b68310;
    background-color:#000000;
    font-size: 21px;
}


/*Hours of operation*/
.section-contact .hours{
    margin-top: 20px;
}

tr:nth-child(1) {
    background-color: #ffe6ac;
    height: 50px;
  }

  tr:nth-child(2) {
    height: 50px;
  }

  tr:nth-child(3) {
    height: 50px;
  }

  td, th {
    border: 1px solid;
    padding: 14px;
  }

table {
    width: 100%;
    margin-top: -14px;
    margin-bottom: 14px;
  }

iframe{
    width: 100%;
    margin-top: -14px;
}


footer{
    background-color: #222222;
    width: 100%;
    color: #b68310;
    margin-left: -14px;
    padding-right: 28px;
    margin-bottom: -14px;
}
/*footer*/

footer p{margin-left: 25px;
}

footer .copyr{
    margin-left: 25px;
}


/*Desktop*/
@media screen and (min-width:760px) {
    .container{
        width: 706px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1200px) {
    .container{
        width: 1168px;
        margin: 0 auto;
        padding: 0 16px;
    }
 /*nav*/
nav .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: -25px;
}

nav ul{
    display: flex;
    width: auto;
}

nav ul li {
    padding: 20px;
}

nav a:link{
    color: #c78b07;
    padding: 19px 20px;
}

/*SERVICE*/


.section-services .container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:1fr 1fr;
column-gap: 14px;

}

.section-services .dt1{
    grid-column: 1 / 2;
    grid-row: 1;
    margin-left: 50%;
}

.section-services .mk1{
    grid-column: 2 / 3;
    grid-row: 1;
}

.section-services .vp1{
    grid-column: 1 / 2;
    grid-row: 2;
}

.section-services .wd1{
    grid-column: 2 / 3;
    grid-row: 2;
}

.section-services .pr1{
    grid-column: 3 / 3;
    grid-row: 2;
}

/*team*/


.section-team .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;

}

.john-img {
grid-column: 1 / 2;
grid-row: 1;
}
.john-info {
    grid-column: 2 / 3;
    grid-row: 1;
}

.bob-img{
    grid-column: 2 / 3;
    grid-row: 2;
}

.bob-info{
    grid-column: 1 / 2;
    grid-row: 2;
}

/*contact*/

.funky-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 14px;
}


.funky-div .map{
    grid-column: 2 / 3;
}

iframe{
    width:100%;
}

.funky-div .hours{
    grid-column: 1/3;
    grid-row: 2/3;
}

}